@model IEnumerable<ToDoList.Models.ToDo>

<table class="table table-striped table-dark">
    <tr>
        <th scope="col">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.isDone)
        </th>
        <th scope="col">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.CheckBoxFor(modelItem => item.isDone, new { id = item.Id, @class = "ActiveCheck" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                <a href="#" data-toggle="modal" data-target="#detailsModal-@item.Id">Details</a> |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
        @Html.Partial("_Details", item)
    }

</table>
<script src="~/Custom_Scripts/AddCheckBoxListener.js"></script>